<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.carteraclientes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CarteraClientes"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ActMostrarCliente"
            android:label="@string/title_activity_act_mostrar_cliente"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ActNuevoCliente"
            android:label="@string/title_activity_act_nuevo_cliente"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActMain"
            android:label="Cartera Clientes"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>